@font-face {
  font-family: "PT Sans";
  font-size: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-size: 700;
  font-style: normal;
  font-display: swap;
  src: url("fonts/ptsans-700.woff2") format("woff2");
}

/* общие селекторы */

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

* {
  box-sizing: border-box;
}

* ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* компоненты*/
.button {
  background-color: #83b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.button--warm {
  background-color: #756257;
}

.button--page {
  font-size: 20px;
}

.navigation-item__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.page__text {
  font-size: 22px;
  line-height: 26px;
}

.page__text--subgead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-tel__link {
  font-size: 40px;
  line-height: 40px;
}

/*Главная */

.welcome-section {
  background-image: url("../images/welcome-bg.jpg");
}

.advantages-head {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  color: #333333;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(8n+7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item--large {
  background-color: #83b3d3;
  color: #ffffff;
}

.subscribe--bg {
  background-color: #83b3d3;
  background-image: url("../images/subscribe-bg.png");
  color: #ffffff;
}

/* страница каталога */

.filter-section {
  background-color: #83b3d3;
  background-image: url("../images/catalog-bg.png");
  color: #ffffff;
}
