@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

* ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* p {
  margin: 0;
}

* a {
  color: inherit;
  text-decoration: none;
  /* cursor: pointer; */
}

* img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* общие селекторы */

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  width: 1200px;
  min-height: 100vh;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

/* компоненты*/

/* для флексов, которые переполняются и возможно несколько строк - добавь gap для строк - на случай переполнения */
/* посмотреть в барбершопе как форма сортировки сделана */

/* button */

/* всем кнопкам добавить паддинги. см статью про краш-тест вёрстки */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 20px;
  background-color: #83b3d3;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.button--warm {
  background-color: #756257;
}

.button--accepted {
  background-color: #7db54f;
}

.button--navigation {
  width: 160px;
  height: 37px;
  border-radius: 4px;
}

.button--page {
  font-size: 20px;
  height: 60px;
}

.button--hotel-search {
  width: 575px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.button--hotel-card-details {
  width: 133px;
  height: 37px;
  border-radius: 4px;
}

.button--hotel-card-favorite {
  width: 141px;
  height: 37px;
  border-radius: 4px;
}

.button--load-result {
  width: 616px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

/* Header */

.page-header {
  /* display: flex; */
  display: grid;
  grid-template-columns: max-content minmax(355px, max-content) minmax(max-content, 1fr) max-content;
  gap: 20px;
  width: 1060px;
  min-height: 65px;
  margin: 0 auto;
  z-index: 1;
  /* align-items: center; */
}
/*
.page-header__logo {
  margin-right: 30px;
  min-height: 70px;
} */

/* .header-logo {
  min-width: 139px;
  min-height: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
} */

.header-logo {
  /* margin-bottom: -5px; */
  display: block;
  min-width: 139px;
  height: 100%;
}

.header-logo__img {
  display: block;
}

/* .page-header__navigation-wrapper {
  display: flex;
  align-items: center;
  align-self: flex-start;
  min-height: 65px;*/
/* margin-bottom: 10px;
} */

.page-header__navigation {
  /* margin-right: 42px; */
  margin-left: 10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.navigation-item__link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.navigation-item__link:hover {
  color: #756257;
}

.navigation-item__link:focus {
  outline: 2px solid #83b3d3;
}

.navigation-item__link:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.navigation-item__link--active::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  background-color: #756257;
  content: "";
}

/* .user-navigation-wrapper {
  display: flex;
  gap: 20px;
  align-self: flex-start;
  align-items: center;
  margin-left: auto;
  min-width: 344px;
  max-width: 460px;
  padding-top: 17px;
  padding-bottom: 16px;
} */

.user-navigation {
  /* align-self: flex-start; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
  align-items: center;
  margin-left: auto;
  max-width: 320px;
}

/* .page-header__user-navigation {
  margin-left: auto;
} */

.user-navigation__item:nth-child(1) {
  margin-left: auto;
}

.user-navigation__link {
  position: relative;
  display: block;
  padding: 21px 12px 22px 11px;
}

.user-navigation__link:hover .user-navigation__icon {
  fill: #756257;
}

.user-navigation__link:active .user-navigation__icon {
  fill: #756257;
  opacity: 0.3;
}

.user-navigation__link:active .user-navigation__counter {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation__counter{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 24px;
  border-radius: 50%;
  background-color: #7db550;
  font-size: 10px;
  color: #ffffff;
}

.user-navigation__button {
  margin-top: 14px;
  /* justify-self: center; */
  /* margin-left: 20px; */
  /* align-self: center; */
  /* margin-bottom: 3px; */
}

.user-navigation__button:hover {
  background-color: #615048;
}

.user-navigation__button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.user-navigation__button:active {
  background-color: #615048;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}


/* Section */

.section-wrapper {
  width: 1056px;
  margin: 0 auto;
}

/* Text */

.page-head {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
}

.page__text {
  max-width: 720px;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page__text--subhead {
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.page__text--search-result {
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  width: 1056px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-tel__link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.social-list {
  display: flex;
  margin-right: auto;
}

.social-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 107px;
  outline: solid 1px black;
}

.footer-developer {
  margin-left: 248px;
}

.developer-link {
  display: block;
  height: 100%;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 26px;
}

/* .breadcrumbs__item {
  margin-right: 26px;
} */

.breadcrumbs__link {
  display: block;
  font-size: 16px;
}

/* Карточка гостиницы*/

.hotel-card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 340px;
  padding: 20px;
}

.hotel-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.hotel-card__link {
  order: -1;
}

.hotel-card__details {
  display: flex;
}

.hotel-card__control {
  display: flex;
  column-gap: 25px;
}

.hotel-card__type {
  width: 133px;
}

.hotel-card__price {
  width: 141px;
}

.hotel-card__rate {
  display: flex;
  column-gap: 7px;
  justify-content: space-between;
  min-height: 37px;
}

.hotel-card__rate-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  background-color: #f2f2f2;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
}

/*Главная */

.welcome {
  min-height: 485px;
  background-image: url("../images/welcome-bg.jpg");
  background-repeat: no-repeat;
}

.page__welcome {
  margin-top: -6px;
  margin-bottom: 63px;
}

.page__advantages {
  margin-bottom: 91px;
}

.advantages__text-wrapper {
  margin-bottom: 80px;
}

.advantages__subhead {
  margin-bottom: 31px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.advantages-item {
  min-height: 384px;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(8n + 7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item--large {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 89px 75px 79px;
}

.advantages-item__head {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item--large .advantages-item__head {
  color: #ffffff;
}

.advantages-item__range {
  margin-bottom: 30px;
  padding-top: 10px;
}

.advantages-item__text {
  text-align: center;
}

.advantages-item__img {
  grid-column: span 2;
}

.advantages-item--large-right .advantages-item__img {
  order: -1;
}

.page__search {
  margin-bottom: 93px;
}

.search__text-wrapper {
  margin-bottom: 56px;
}

.subscribe--bg {
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 93px;
  background-color: #83b3d3;
  background-image: url("../images/subscribe-bg.png");
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe--bg .page__text--subhead {
  color: #ffffff;
}

.subscribe__form {
  margin-top: 46px;
}
.subscribe-form {
  display: flex;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.subscribe-form__input {
  width: 600px;
  height: 100%;
  padding-left: 19px;
  padding-right: 22px;
  font-size: 18px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  border: none;
}

.subscribe-form__button {
  width: 600px;
  border-radius: 0 10px 10px 0;
}

/* страница каталога */

.page__filter {
  margin-bottom: 44px;
}

.filter-section {
  padding-top: 35px;
  padding-bottom: 81px;
  background-color: #83b3d3;
  background-image: url("../images/catalog-bg.png");
  background-repeat: no-repeat;
  color: #ffffff;
}

.filter-section__breadcrumbs {
  margin-bottom: 45px;
}

.filter {
  display: flex;
}

.filter__group {
  width: 217px;
  margin: 0;
  padding: 0;
}

.filter-group__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
}

.filter__group--price {
  width: 287px;
  margin-left: auto;
}

/* .filter_price-wrapper {
  display: flex;
}

.filter-control--price {
  width: 143px;
  padding: 14px 13px 11px 19px;
  background-color: #ffffff;
  color: #000000;
}

.filter-control__input {
  /* display: block; */
/* width: 90px;

  border: none;
} */

.filter__controls {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  margin-left: 81px;
}

.page__search-result {
  margin-bottom: 73px;
}

.search-result__control {
  display: flex;
  column-gap: 81px;
  margin-bottom: 53px;
}

.search-result__hotel-list {
  margin-bottom: 34px;
}

.search-result__load {
  padding: 30px 0;
  margin-bottom: 30px;
}

.sorting-form {
  width: 287px;
  height: 48px;
  border: solid 2px #e5e5e5;
  border-radius: 4px;
  /* outline: 1px solid darkgreen; */
}

.sorting-control {
  font-family: inherit;
  font-size: 18px;
}

.view-toggler {
  /* макс ширина??? переполнение??? */
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  outline: 1px solid darkgreen;
}

.view-toggler__item {
  width: 48px;
  height: 48px;
  outline: 1px solid darkgreen;
}

.view-toggler__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.hotel-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 18px;
  row-gap: 10px;
}

.pagination-wrapper {
  display: flex;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  max-width: 528px;
}

.pagination__item {
  min-width: 55px;
  height: 55px;
  background-color: #83b3d3;
  color: #ffffff;
  font-size: 20px;
  border-radius: 4px;
}

.pagination__item--current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.pagination-control {
  margin-left: auto;
  outline: solid 1px green;
}

.sorting-control {
  margin-left: 51px;
}

.page__subscribe--inner {
  margin-bottom: 140px;
}
